@font-face {
	font-family: 'Inter';
	src: local('Inter'),
	     url('/inter/Inter\ \(web\)/woff2') format('woff2'),
	     url('/inter/Inter\ \(web\)/woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.page {
	margin: 0 auto;
	
	font-family: 'Inter';
	background-color: #2A2C2F;	
}



